<!DOCTYPE html>
<html lang="en">
<head>
  <title>Welcome! | Erick's Website</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%#= javascript_include_tag "turbo" %>
<!--  <meta name="turbo-prefetch" content="false">-->
</head>

<body>
<div class="imagebg"></div>
<header id="site-header">
  <div class="full-container">
    <div class="buttons">
      <a class="btn-left" href="https://calendly.com/er-contreras/30min" target="_blank">
        ☎ Book a
        <u>Free</u>
        Consultation
      </a>
      <a class="btn-right" href="/#Sign-up">Sign Up</a>
    </div>

    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Curriculum', curriculum_path %></li>
      <li><%= link_to 'Projects', projects_path %></li>
      <li><%= link_to 'Services', services_path %></li>
      <li><%= link_to 'About', about_path %></li>
    </ul>
  </div>

  <div class="container">
    <a>Erick C. Website </a>
    <h1>
      Pro Developer
      <br>
      Get your custom website today!
    </h1>
  </div>
</header>

<%= yield %>
</body>
</html>
